<html ng-app="clintegarrison">
  <header>
    <title>Clint Garrison</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./js/main.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "./css/main.css" />
  </header>
  <body>
    <div id="side-nav" ng-controller="SideNavController">
      <img id="clint-pic" src="./images/cxg.png"/>
      <div id="clint-name">{{ myName }}</div>
      <div id="clint-skills">
        <ul id="skills" ng-repeat="skill in mySkills" ng-click="skillClicked(skill)">
          <li>
            <img ng-src="{{ skill.icon }}" id="skill-img">
            {{skill.Skill}}
          </li>
        </ul>
      </div>
    </div>
    <div id="content" ng-controller="ContentController">
      {{contentService.selectedSkill}}
      <br>
      <div id="content-icons">
        <ul id="icons" ng-repeat="icon in icons" ng-click="iconClicked(icon)">
          <li>
            <img ng-src="{{ icon.image }}" id="icon-img">
          </li>
        </ul>
      </div>
      <div id="content-blurbs">
        <ul id="blurbs" ng-repeat="blurb in blurbs">
          <li>
            {{ blurb.title }}
            <br>
            {{ blurb.text }}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
